.App {
  margin-top: 60px;
  background: linear-gradient(45deg, #214169, #101a26);
  color: #fff;
  padding: 20px 100px;
}
.fork a {
  color: #000;
}

.not-found {
  padding: 200px 0;
  text-align: center;
}

.not-found h2 {
  font-size: 40px;
}

.game2048 {
  background: linear-gradient(45deg, #214169, #101a26);
  color: #fff;
  padding-top: 60px;
  height: 100vh;
}

body::-webkit-scrollbar {
  background: linear-gradient(45deg, #214169, #101a26);
  width: 6px;
}

body *::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #673ab7;
}

h4.MuiTypography-root.MuiTypography-h4 {
  font-size: 20px;
}

h6.MuiTypography-root.MuiTypography-subtitle1 {
  font-size: 10px;
}

.MuiGrid-spacing-xs-5 {
  width: 100% !important;
  margin: 0 !important;
}
.youtube {
  margin-top: 50px !important;
  background: linear-gradient(45deg, #214169, #101a26);
  padding-bottom: 40px;
}

.youtubeLoader {
  text-align: center;
  color: #fff;
}

.game {
  padding: 60px 0px;
  background: linear-gradient(45deg, #214169, #101a26);
  color: #fff;
  height: 100vh;
}
.game-board {
  text-align: center;
}

.loading {
  text-align: center;
}

.name1 span,
.name2 span,
.name3 span {
  font-size: 40px;
}

.name3 {
  margin-bottom: 1em;
}

body {
  margin: 0;
}

.small {
  width: 50%;
}

.nav-buttons {
  text-align: center;
  padding: 10px;
}

.nav-buttons button svg {
  position: relative;
  top: 3px;
}

.nav-buttons button {
  font-size: 20px;
  padding: 5px 15px;
  background: blue;
  color: #fff;
  outline: none;
  border: none;
  margin: 5px;
}

.image img {
  height: 270px;
  border: 5px solid #4300b9;
}

.name2 span,
.name3 span {
  font-weight: bold;
}

.expense-filter input {
  margin-top: 30px;
}

button.restartTic {
  padding: 5px 15px;
  background: linear-gradient(45deg, #214169, #101a26);
  border: none;
  outline: none;
  color: #fff;
  float: right;
}

div#winner {
  color: #0019a7;
  font-weight: bolder;
  font-style: italic;
  font-size: 28px;
}

footer a {
  color: #000;
  font-style: italic;
}

.small p {
  font-style: italic;
}

.fork {
  position: fixed;
  background: #e0e0e0;
  padding: 10px;
  right: 0;
  top: 95px;
  transform: rotate(30deg);
}

.image {
  margin-left: 20px;
}

.image-and-text {
  display: flex;
  width: 100%;
  margin: 100px 0px;
}

.weather-app {
  height: 100vh;
  margin-top: 0px !important;
  line-height: 3;
  padding-top: 40px;
  background: linear-gradient(45deg, #214169, #101a26);
  color: #fff;

}

.small p {
  margin: 0;
  line-height: 1.5;
}

footer p {
  padding: 8px;
  margin: 0;
}

.header-logo {
  text-align: left;
  position: absolute;
}

.header-logo a {
  color: #000;
}

.navactive {
  background-image: linear-gradient(-90deg, rgb(0 0 0/0) 12%, #9dbdb5 30%, #0e6c53);
  color: #000;
  border-radius: 5px;
}

header {
  text-align: center;
  padding: 15px 100px;
  background: linear-gradient(45deg, #214169, #101a26);
  position: fixed;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  width: 100%;
  left: 0;
  z-index: 999;
  top: 0;
  outline: none !important;
}
header:focus {
  outline: none !important;
}

.imageContainer,
.images-notFound {
  text-align: center;
}

.expense-app,
.image-search,
.weather-app,
.add-expense,
.music-component,
.update-expense,
.expense-filter {
  text-align: center;
  margin-top: 70px;
  color: #fff;
}

.expense-filter input {
  height: 30px;
  width: 300px;
  text-align: center;
}

a {
  text-decoration: none;
}

.hr-tag {
  width: 300px;
}

footer {
  background: #e0e0e0;
}

.expense-description {
  text-transform: uppercase;
}

.expense-filter select {
  height: 35px;
  margin-left: 5px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 5px 15px;
}

.expense-form {
  text-align: center;
  padding: 10px 0px;
}

.expense-form button,
.update-expense button {
  color: #fff;
  padding: 10px 15px;
  background: #000;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: none;
}
.expense-form input,
.expense-form textarea {
  width: 300px;
  height: 35px;
  margin-bottom: 10px;
  text-align: center;
  resize: none;
}

.add-expense a {
  color: #fff;
  padding: 10px 15px;
  background: #000;
  text-decoration: none;
  font-size: 12px;
}

header span {
  padding: 10px;
}

footer {
  text-align: center;
}

footer span {
  padding: 10px;
}

.music-component {
  text-align: center;
}

.artist-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.track {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.track-icon {
  position: absolute;
  bottom: 90px;
  background-color: #000;
  color: #fff;
  left: 100px;
  width: 25px;
  height: 25px;
  padding: 10px;
  opacity: 0.8;
  border-radius: 50%;
}

.track-icon span {
  display: inline-block;
  margin-top: 2px;
  margin-left: 1px;
  font-weight: bolder;
}

.track-image {
  width: 250px;
  height: 250px;
}

.track-text {
  position: absolute;
  width: 240px;
  bottom: -20px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

#input-area {
  height: 30px;
  width: 300px;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
  color: #000;
  font-size: 15px;
}

#button-ele {
  height: 35px;
  padding: 5px 20px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}

.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 0px;
  top: 12px;
  color: #fff;
}

.bm-burger-button:focus,
.bm-burger-button button:focus,
.bm-cross-button button:focus {
  outline: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  top: 25px !important;
  right: 30px !important;
}

.bm-item.header-menu:focus {
  border: none !important;
  outline: none;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.bm-item.header-menu a {
  color: #fff;
  width: 100%;
  display: block;
  padding: 10px;
  text-align: left;
  margin: 2px;
}

header span svg {
  position: relative;
  top: 3px;
}

.bm-item.header-menu a:hover {
  background-image: linear-gradient(-90deg, rgb(0 0 0 / 0%) 12%, #9dbdb5 30%, #0e6c53 100%);
  color: #000;
  border-radius: 5px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .header-logo {
    display: none;
  }

  .App {
    padding: 30px;
    margin: 0;
  }

  .image img {
    border: 5px solid #4300b9;
    width: 90%;
    height: unset;
  }

  .image {
    margin-left: 0;
    text-align: center;
    padding-top: 30px;
  }

  header {
    padding: 15px;
  }

  .small {
    width: 100%;
  }

  .image-and-text {
    display: block;
    width: 100%;
    margin: 100px 0px;
  }

  .track-image,
  .track {
    width: 300px;
    height: 300px;
  }

  .track-text {
    width: 289px;
  }

  .track-icon {
    bottom: 100px;
    left: 125px;
  }

  .fork {
    opacity: 0.6;
    z-index: 99;
  }

  .MuiGrid-spacing-xs-5 > .MuiGrid-item {
    padding: 0 !important;
  }

  .MuiPaper-root.MuiPaper-elevation6.MuiPaper-rounded {
    height: 60% !important;
  }

  .youtube {
    padding-top: 30px;
  }
}
